# --- DHCPCD STATIC IP CONF ---
interface eth0
static ip_address={{ cleverbreeze_ip_address }}
static routers={{ cleverbreeze_routers }}
static domain_name_servers={{ cleverbreeze_domain_name_servers }}
# --- EOF ---
