[Unit]
Description=CleverView Modbus Service
After=network.target

[Service]
Type=simple
Environment=MODBUS_CLIENT_LOGLEVEL=INFO
Environment=MODBUS_CLIENT_DELETE_DATA_OLDER_THAN=365
WorkingDirectory=/root/cleverview/cleverview-modbus/
ExecStart=/root/cleverview/cleverview-modbus/cleverview-modbus.py
KillSignal=SIGTERM
NotifyAccess=all
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
