[Unit]
Description=Clever Breeze UI Service

[Service]
Environment=WORK_DIRECTORY=/root/cleverbreeze
Environment=DATABASE_URL=sqlite:////root/cleverbreeze/cleverbreeze-ui/snmpusersdb.sqlite
Environment=CLEVERBREEZE_SNMP_CONFIG=/root/cleverbreeze/cleverbreeze-ui/netcfg/snmpd.conf.json
ExecStartPre=-/root/cleverbreeze/cleverbreeze-snmp-v3-configurator/snmp-v3-configurator.py
ExecStart= /usr/bin/env uwsgi --ini /root/cleverbreeze/system/uwsgi.ini
Restart=always
KillSignal=SIGTERM
Type=notify
NotifyAccess=all
User=root
Group=root

[Install]
WantedBy=multi-user.target
